
page-home {
 
    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: white;
    }
 
    .thumb-img {
        padding: 10px;
    }
    // p{
    //     font-size: 2rem;
        
    // }
    // ion-title {
    // font-size: 27px;
    // color:#1b39cd;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    // }
    p{
        //  font-family:'Times New Roman', Times, serif;
        //  font-size: 20px;
    }
}