
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>SIGN UP</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Registraton</strong>
      </h2>
    </div>

    <!-- Login form -->
      <!-- <div [formGroup]="registerForm" class="list-form1">
        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            First Name
          </ion-label>
          <ion-input type="text" [(ngModel)]="user.firstName" formControlName="firstName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Last Name
          </ion-label>
          <ion-input type="text" [(ngModel)]="user.lastName" formControlName="lastName"></ion-input>
        </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="user.email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input name="password" [(ngModel)]="user.password" formControlName="password" [type]="showPassword ? 'text': 'password'"></ion-input>
        <ion-icon slot="end" class="eyeIcon" [name]="passToggleIcon" (click)="togglePassword()" class="text-primary" item-right style="margin-top: 44px"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
         Confirm Password
        </ion-label>
        <ion-input name="password" [(ngModel)]="user.confirmPassword" formControlName="confirmPassword" [type]="showPassword ? 'text': 'password'"></ion-input>
        <ion-icon slot="end" class="eyeIcon" [name]="passToggleIcon" (click)="togglePassword()" class="text-primary" item-right style="margin-top: 44px"></ion-icon>
      </ion-item><br>
  

    <div>
      <button ion-button icon-start block color="secondary" [disabled]="!registerForm.valid" tappable (click)="register(user)">
        <ion-icon name="log-in"></ion-icon>
        Register
      </button>
    </div> 
  </div> -->
  <!-- <p text-center ion-text color="secondary">Or Sign Up with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
  
     
   <!-- Registration Form    -->
   <form novalidate (ngSubmit)="signup()" [formGroup]="signupform">
    <ion-item>
      <ion-label floating><ion-icon name="person" item-start class="text-primary"></ion-icon>Username</ion-label>
      <ion-input type="text" [(ngModel)]="userData.username" formControlName="username" [class.error1]="!signupform.controls.username.valid && signupform.controls.username.dirty"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="( signupform.get('username').hasError('minlength') || signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
      <div class="error" *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
        Please input your username
      </div>
      <div class="error" *ngIf="signupform.get('username').hasError('minlength') && signupform.get('username').touched">
        Minimum 4 characters
      </div>
      <div class="error" *ngIf="signupform.get('username').hasError('maxlength') && signupform.get('username').touched">
        Maximum 10 characters
      </div>
      <div class="error" *ngIf="signupform.get('username').hasError('pattern') && signupform.get('username').touched">
        Just use alphabet character
      </div>
    </ion-item>
    
    <ion-item>
      <ion-label floating><ion-icon ios="ios-person" md="md-person" item-start class="text-primary"></ion-icon>Name </ion-label>
      <ion-input type="text" [(ngModel)]="userData.name" formControlName="name" [class.error1]="!signupform.controls.name.valid && signupform.controls.name.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="( signupform.get('name').hasError('minlength') || signupform.get('name').hasError('maxlength') ||signupform.get('name').hasError('pattern') ||signupform.get('name').hasError('required') ) && signupform.get('name').touched">
      <div class="error" *ngIf="signupform.get('name').hasError('required') && signupform.get('name').touched">
        Please input your name
      </div>
      <div class="error" *ngIf="signupform.get('name').hasError('minlength') && signupform.get('name').touched">
        Minimum 4 characters
      </div>
      <div class="error" *ngIf="signupform.get('name').hasError('maxlength') && signupform.get('name').touched">
        Maximum 30 characters
      </div>
      <div class="error" *ngIf="signupform.get('name').hasError('pattern') && signupform.get('name').touched">
        Just use alphabet character
      </div>
    </ion-item>

    <ion-item>
      <ion-label floating><ion-icon name="mail" item-start class="text-primary"></ion-icon>Email</ion-label>
      <ion-input type="email" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
      <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
        Please input your email
      </div>
      <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
        Email address invalid
      </div>
    </ion-item>

    <ion-item>
      <ion-label floating><ion-icon name="lock" item-start class="text-primary"></ion-icon>Password</ion-label>
      <ion-input type="password" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty" [type]="showPassword ? 'text': 'password'"></ion-input>
      <ion-icon slot="end" class="eyeIcon" [name]="passToggleIcon" (click)="togglePassword()" class="text-primary" item-right style="margin-top: 44px"></ion-icon>
    </ion-item>

    <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
      <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
        Please input your password
      </div>
      <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
        Minimum 6 characters
      </div>
      <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
        Maximum 12 characters
      </div>
    </ion-item><br>
    
    <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid" (click)="register(userData)">SIGNUP</button>
  </form>
      
    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>

  </div>
</ion-content>     